.uk-panel-box{
    height:35px;
    padding:8px;
    cursor: hand;
    margin-bottom: 5px;
}
.uk-h5{
    margin:0px;
}
.delete-item{
    margin-left:10px;
    font-size:20px;
}
.uk-icon-edit{
    font-size:20px;
}
.preview{
    display: none;
    margin-bottom: 15px;
}
.media{
    max-width: 700px;
}
.form-inline a span{
    background-color: #465d7a;
    color: #ffffff;
}
.fa-thumbs-o-up{
    cursor:pointer;
}
.container_backside {
    /* margin-top: 5px; */
    margin-left: 10px;
    position: relative;
    width: 400px;
    height: 267px;
}
.container_backside_text{
    /* background-color: red; */
    /* border: 1px solid red; */
    width: 211px !important;
    height: 198px !important;
    position: absolute !important;
    left: 5px;
    top: 33px;
    font-family: "Comic ans MS", cursive, sans-serif !important;
    font-size: 11px;
    line-height: 18px;
    text-indent: 0.44em;
    text-align: left !important;
    word-break: break-all !important;
    display: block;

    outline: none !important;
    border:0px;
}
.new_image_container{
    display: none;
}
.div_container_backside{
    width:1800px;
    height:1200px;
    position: relative;
    display: none;
}
.div_container_backside .container_backside_text{
  /*background-color: red;*/
  /*border: 1px solid red;*/
  width: 960px !important;
  height: 870px !important;
  position: absolute;

  /*skygdi 05/10/2017 */
  /*left:15px;*/
  left:35px;
  top:150px;

  font-family: "Comic Sans MS", cursive, sans-serif !important;
  font-size:50px !important;
  line-height: 80px;
  text-indent: 2em;
  text-align: left !important;
  word-break:break-all !important;

  display: block;

  border: 0px;
  box-shadow: none;

}
.download_canvas_button{
    /*display: none;*/
}
.container_backside .user_address{
  /*background-color: red;
  border: 1px solid red;*/
  width: 108px;
  height: 180px;

  position: absolute;
  right: 54px;
  top: 18px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 9px;
  line-height: 12px;
}
.div_container_backside .user_address{
  /*background-color: red;
  border: 1px solid red;*/
  width: 486px !important;
  height: 810px !important;
  

  position: absolute;
  right: 243px;
  top: 81px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:40px !important;
  line-height: 54px;
}
.preview .alert-warning{
  float: left;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 7px;
}
.preview .row button{
  float:left;
}

/*
Re Order
 */
.the_data{
    opacity: 0.6;
}
.my_hr{
    border-style: inset;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid rgba(77, 77, 77, 0.89);
}
.user_detail{
    line-height: 22px;font-size: 16px;
}

.container_backside{
  position: absolute;
}


.container_backside .shipping_address{
    width: 145px;
    height: 120px;
    position: absolute;
    right: 14px;
    top: 129px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 9px;
    line-height: 12px;
    text-align: right;
}
.container_backside .shipping_address .city{
    margin-top: 5px;
    margin-bottom: 5px;
}
.container_backside .shipping_address .state{
    margin-top: 5px;
    margin-bottom: 5px;
}
.div_container_backside .shipping_address{
    width: 651px !important;
    height: 695px !important;
    position: absolute;
    right: 69px;
    top: 447px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px !important;
    line-height: 54px;
    text-align: right;
}