
.btn-file .btn , .btn{
    height: 34px;
    line-height: 34px;
    padding-left: 15px;
    padding-right: 15px;
}

.tags{
    position: relative;
    margin-bottom: 8px;
    margin-left: 5px;
}
.tag{
    margin-right:5px;
    padding: 5px;
    position: relative;
    padding-right: 20px;
}
.close{
    position: absolute;
    right: 6px;
    top: 1px;
}
.tags a{
	text-decoration: none;
}
.tags a:link, .tags a:visited {
	text-decoration: none !important;
}
.tag_no_remove{
    padding-right:5px!important;
}