
.slick-dots{
    bottom: 85px !important;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}
.slick-dots li.slick-active button:before {
    color:white !important;
}
.slick-dots li button:before {
    font-size:15px !important;
}
#slidershow{
    overflow: hidden;
}
#slidershow h3,h4{
    color:white;
}



.uk-navbar-nav a{
	color:white !important;
}

@media (max-width: 767px) {
    .navbar-fixed-top {
        position: fixed;
	    right: 0;
	    left: 0;
    }
}

.container_common{
    padding-top: 30px;padding-bottom: 30px;
}

legend{
    font-family: Roboto;
    font-size: 24;      
}

/* buttons */
.btn{
    border: none;
    border-radius: 0;
    border-color: transparent;
    box-shadow: none;
    text-shadow: none;
    line-height: 22px;
    background: #f0f0f0;
    color: #5c7391;
    padding: 0 33px;
    border-radius: 40px;
    overflow: hidden;
    z-index: 1;
    font-family: 'Montserrat';
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -webkit-backface-visibility: hidden;
}
.btn-primary, .btn-info, .btn-inverse{
    background-color: #465d7a;
    color: #ffffff;
    outline: none;
}
.btn-primary:hover, .btn-info:hover, .btn-inverse:hover {
    background-color: #3c4a5b;
    color: #ffffff;
}
/*
.form-control{
    color: #666666;
    position: relative;
    border-radius: 40px;
    font-weight: inherit;
}
*/
.uk-form{
  /* 1 */
  height: 40px;
  /* 2 */
  max-width: 100%;
  /* 3 */
  padding: 5px 10px;
  /* 4 */
  border: 2px solid rgba(77, 77, 77, 0.89);
  background: #ffffff;
  color: #666666;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  position: relative;
  border-radius: 40px;
  font-weight: inherit;
}

/* for pagination */
.pagination .active >a{
    background-color: #465d7a;
}

/* tooltip */
.tooltip-custom + .tooltip > .tooltip-inner {background-color: #465d7a;padding:6px;padding-left:15px;padding-right:15px;}
.tooltip-custom + .tooltip.top > .tooltip-arrow {border-top-color: #465d7a;}

.address_current_weak{
  opacity:0.5;
}

.skygdi-button-mini{
  min-height: 25px;
  padding: 0 21px;
  line-height: 25px;
  font-size: 10px;

  -webkit-appearance: none;
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: #5c7391;
  text-transform: none;
  display: inline-block;
  box-sizing: border-box;
  background: #f0f0f0;
  vertical-align: middle;
  line-height: 40px;
  /*min-height: 40px;*/
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  padding: 0 33px;
  border-radius: 40px;
  overflow: hidden;
  z-index: 1;
  font-family: 'Montserrat';
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-backface-visibility: hidden;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}
.skygdi-button-first{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 12.5px;
}
.skygdi-button-last{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 12.5px;
}
.skygdi-button-middle{
  border-radius: 0px;
  padding: 0 12.5px;
}
.btn{
  height: 34px;
  line-height: 34px;
  background-color: #465d7a;
  color: white;
}
.btn_no_radius{
  border-radius: 0px;
}
/*
.billing_address_expend_button:nth-child(2) {
    display: block;
}
*/
