.container_backside {
    margin-top: 8px;
    position: relative;
    width: 600px;
    height: 400px;
}
.container_backside_text{
  /*background-color: red;*/
  /*border: 1px solid red;*/
  width: 317px !important;
  height: 297px !important;
  position: absolute !important;

  left:7px;
  top:45px;

  font-family: "Comic Sans MS", cursive, sans-serif !important;
  font-size:16px;
  line-height: 27px;
  text-indent: 1.32em;
  text-align: left !important;
  word-break:break-all !important;

  display: block;

  outline: none !important;
  border:0px;
}
.owl-carousel a{
    cursor:pointer;
}