.container_backside{
  position: relative;
  width:1800px;
  /*skygdi 05/10/2017 */
  /*height:1200px;*/
  height:1250px;
}

.container_backside  .content_container{
  /*background-color: red;*/
  /*border: 1px solid red;*/
  width:645px;
  height: 660px;
  position: absolute;
  right:20px;
  top:400px;
  padding:20px;
  padding-left:35px;
  padding-right:35px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:25px;
  line-height: 50px;
}
.container_backside .username{
  font-size:35px;
  line-height: 35px;
  width:100%;
}
.container_backside .address1{
  margin-top:20px;
  margin-bottom:8px;
}
.container_backside > .src{
	width:1800px;
	height:1200px;
	background: url('../../../../../images/postcard02.PNG');
	position: relative;display: none;
}
.container_backside_text{
  /*background-color: red;*/
  /*border: 1px solid red;*/
  width: 960px;
  height: 856px !important;
  position: absolute;

  /*skygdi 05/10/2017 */
  /*left:15px;*/
  left:35px;
  top:150px;

  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:50px !important;
  line-height: 80px;
  text-indent: 2em;
  text-align: left !important;
  word-break:break-all !important;

  display: block;

  border: 0px;
  box-shadow: none;

}

/*
.container_backside .user_address{
  width: 108px;
  height: 180px;

  position: absolute;
  right: 54px;
  top: 18px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 9px;
  line-height: 12px;
}
*/
.container_backside .user_address{
  /*background-color: red;
  border: 1px solid red;*/
  width: 486px !important;
  height: 810px !important;
  

  position: absolute;
  right: 243px;
  top: 81px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:40px !important;
  line-height: 54px;

  
}

.user_address_email , .user_address > *{
  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;      /* current browsers */
  
  /*
  display: block;
  width:200px;
  */
}

.container_backside .shipping_address{
  /*font-size:0.8em;*/
  text-align:right;
  /*line-height: 35px;*/
  padding-right: 5px;

  font-size: 35px;
  line-height: 41px;
}
.container_backside .shipping_address .city{
    margin-top: 5px;
    margin-bottom: 5px;
}
.container_backside .shipping_address .state{
    margin-top: 5px;
    margin-bottom: 5px;
}