.dl-horizontal dt, .dl-horizontal dd{
	line-height: 28px;
}
.dl-horizontal-edit dt, .dl-horizontal-edit dd{
	line-height: 43px;
}
#div_edit_area{
	margin-bottom:100px;
}
.btn-file .btn{
	height: 34px;
    line-height: 34px;
    padding-left: 15px;
    padding-right: 15px;
}