
#ModalShoppingCartMini .modal-body{
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
}
#ModalShoppingCartMini .modal-title{
	color:black;
	text-align: center;
}

#ModalShoppingCartMini .loading{
	text-align:center;
	position: absolute;
	height: 100%;
	width:100%;
	top:0px;
	opacity: 0.6;
	display: none;
}
#ModalShoppingCartMini .total{
	font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-family: "Roboto";
    font-weight: bold;

}
#ModalShoppingCartMini .shopping_cart_empty{
	display: none;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
#shopping_cart_mini_table{
	width:95%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid rgba(77, 77, 77, 0.89);
	border-collapse: separate !important;
	border-radius: 7px;
    padding-bottom: 5px;
}
#shopping_cart_mini_table tbody tr:hover td{
    background-color: #eeeeea;
}
#shopping_cart_mini_table input{
    outline: none;
}

#ModalShoppingCartMini .uk-table th, #ModalShoppingCartMini .uk-table td {
    padding: 4px 4px;
    border-top: 1px solid rgba(77, 77, 77, 0.89);
}