
.comment{
	margin-top:5px;
}

.comment .user{
	font-weight: bold;
	margin-right:5px;
}
.comment .issue_datetime{
	font-size:11px;
}
.comment .content{
	text-indent: 1em;
}
.comment_input{
	border-radius: 14px;
}