/* Designed and Developed by UrWorks Inc. */

/* Logo size for centered navigation 
.tm-navbar-center [class*='tm-logo'] { transform: scale(1.2); }*/

.tm-navbar-transparent {
    background-color: rgba(0, 4, 15, 0.7);
}

h2, .uk-h2 {
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 0;
    margin-top: 0;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
    margin-top: 20px;
}



.yoo-zoo .uk-thumbnail {
    border: medium none;
}

.product-uikit div {
    margin: 0;
    padding: 0 !important;
}

.product-uikit img {
    border: 2px solid #bbb !important;
    clear: both !important;
    margin: 0 !important;
    padding: 0 !important;
}

.product-uikit .uk-thumbnail img { border-top:0px!important; }

.tm-block-toolbar .tm-toolbar-container { min-height: 30px; }
.tm-block-toolbar { background-color: #eee; border-bottom: 2px solid #465d7a; z-index: 3; }

.zx-zoocart-tableitems-items { border:none!important; }
.uk-table th, .uk-table td { border-top:none!important; }

#zx-zoocart-minicart-resume .uk-text-small {
    float: right;
    padding-left: 16px;
    padding-top: 4px;
}

.tm-navbar.tm-navbar-overlay.tm-navbar-transparent.tm-navbar-contrast.uk-active {
    top: 30px !important;
}

.zx .zx-zoocart-tableitems-row .uk-grid.uk-grid-small>* { padding-left: 8px; }

.uk-dropdown-navbar { margin-top:20px; }

.uk-nav-dropdown > li > a, .uk-nav-navbar > li > a { font-size:13px; }

.spacesb { margin-right:25px; }

.tm-search {
    background: #eee none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.3);
    color: #fff !important;
    position: fixed;
    right: 0;
    top: 81px;
    z-index: 981;
}

.uk-search::before { color: #c81b1d; }
.tm-search input.uk-search-field { color:#5c7391; }

@media (max-width: 767px) {
	.tm-navbar.tm-navbar-overlay.tm-navbar-transparent.tm-navbar-contrast.uk-active { top:0px!important; }
	.spacesb { margin-right:0px; }
	.tm-navbar {
	background-color: rgba(255,255,255,1)!important;
	}
	.uk-form input:not([class*='uk-form-width-']):not([class*='uk-width-']):not([type="radio"]):not([type="checkbox"]) {
	width: 100%;
}
  
}