
/*
.btn-file .btn , .btn{
    height: 34px;
    line-height: 34px;
    padding-left: 15px;
    padding-right: 15px;
}
*/
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    /*font-weight: 700;*/
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-success {
    background-color: #5cb85c;
}
.tags{
    position: relative;
    margin-left: 5px;
    padding-left: 0px;
}
.tag{
    margin-right:5px;
    padding: 5px;
    position: relative;
    padding-right: 20px;

    display: inline-block;
    margin-bottom: 5px;
    font-size: 12px;
}
.close{
    position: absolute;
    right: 4px;
    top: 0px;
    /*font-size: 20px;*/
    opacity: 0.7;
}
.tags a{
	text-decoration: none;
}
.tags a:link, .tags a:visited {
	text-decoration: none !important;
}
.tag_no_remove{
    padding-right:5px!important;
}

.tagB{
    padding: 11px;
    padding-right: 24px;
    font-size: 17px;
}
.tagB .close{
    top: 9px;
    right:5px;
}