
body{
    /*font-family: "Helvetica Neue",Helvetica,Arial;*/
    font-family: 'Montserrat',Arial;
    font-weight: normal !important;
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 9px;
  right: 9px;
  height: 4px;
  /*background: white;*/
  background-color: black;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  /*background-color: #fff;*/
  background-color: black;
  content: "";
}
.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--htx {
  /*background-color: #ff3264;*/
  background-color: white;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  /*background-color: #cb0032;*/
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

.content_header{
	min-height: 29px;
	padding-top: 7px;
    padding-bottom: 6px;
	text-align:center;
	background-color: white !important;
	box-sizing: border-box;
}
.content_header > .title{
  padding-top:2px;
  padding-bottom: 3px;
  height: 35px;
  line-height: 35px;
}
.content_header > .menu{
  position: absolute;top:0px;left:0px;
}
.content_header > .menu > a{
  margin: 0px;
  padding: 0px;
  border: none;
}
.content_header > .icon{
  position: absolute;
  top:7px;
  right:10px;
}
.content_header > .icon > a{
  font-size: 25px;
  color: black;
}
.content_header > .icon > a > img{
  max-width:28px;
}
#sideMenu a.user{
  display: none;
}

html {
	font: 300 16px / 24px 'Roboto';
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background: #ffffff;
	color: #666666;
}
#sideMenu{
	background: #293543;
}
#sideMenu h4{
	font-weight: 300;
	color:#fff;
}
#sideMenu .fa{
	margin-left:20px;
	margin-right:20px;
}
#sideMenu ul > li > a {
	padding: 10px 15px;
	margin-bottom: 2px;
	/*background-color: #2d3a4a;*/
	/*font-family: 'Montserrat';*/
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	font-weight: 300;
	text-decoration-line: none;
}
#sideMenu ul{
	margin:0px;
	padding:0px;
}
#sideMenu ul li{
	line-height: 44px;
	height: 44px;
	font-size:16px;
}
#sideMenu ul li > a{
	color: rgba(170, 170, 170, 0.7) !important;
}
#sideMenu ul > li.uk-active {
	background: #465d7a;
}
#sideMenu ul > li.uk-active > a{
	color: #ffffff;
}
#item_dialog .fa{
	margin-right:30px;
}

body{
    font-family: "Helvetica Neue",Helvetica,Arial;
}
label{
    font-weight: bold !important;
    color: #293543;
    font-size: 15px !important;
}
.uk-btn-file{
    margin-bottom: 0px !important;
}
/* button */
.uk-btn{
    background-color: #465d7a !important;
    color: #ffffff !important;
    /*outline: none;*/
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Montserrat',Arial;
}
/* input text */
.controlgroup-textinput{
  padding-top:0px;
  padding-bottom:0px;
  min-height: initial;
  background-color: white !important;
}

.media-management-data{

}
.media-management-data img{
  max-width: 100%;
}
.media-management-function-list{
  margin:0px;
  /*margin-top: 10px;*/
  padding: 0px;
}
.media-management-function-list li{
  list-style-type: none;
  float:left;
  margin-right:5px;
}

/*
.media-management-data .plus{
*/
.plus{
  /*float: left !important;*/
  left: 40px;
  width: 20px;
}
/*
.media-management-data .had_plus{
*/
.had_plus{
  background-color: #293543 !important;
  color:white !important;
}
.media-management-data .user{
  font-size:11px;
}
.media-management-data .issue_datetime{
  font-size:11px;
}
.pagination-bottom{
  margin-top:20px;
}

/**/
.container_backside {
    /*margin-left: 10px;
    width: 400px;*/
    position: relative;
    
    height: 267px;
    width: 309px;
}
.container_backside_text{
    /*
    width: 211px !important;
    height: 198px !important;
    */
    width: 170px !important;
    height: 150px !important;
    position: absolute !important;
    left: 5px;
    top: 33px;
    font-family: "Comic Sans MS", cursive, sans-serif !important;
    font-size: 11px;
    line-height: 18px;
    text-indent: 0.44em;
    text-align: left !important;
    word-break: break-all !important;
    display: block;

    outline: none !important;
    border:0px;
}

.shopping-cart-data{
    margin-top:20px;
    /*
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    */
}
.shopping-cart-data input{
    text-align: right;
}
.shopping-cart-data span{
    float: right;
}
.shopping-cart-data i{
    float: left;
}