
@font-face {
  font-family: ComicSansMSRegular;
  src: url(../font/comic_sans_ms_regular.ttf);
}
.new_image_container{
    display: none;
}
.div_container_backside{
    width:1800px;
    height:1200px;
    position: relative;
    display: none;
}
.div_container_backside .container_backside_text{
  /*background-color: red;*/
  /*border: 1px solid red;*/
  width: 960px !important;
  height: 870px !important;
  position: absolute;

  /*skygdi 05/10/2017 */
  /*left:15px;*/
  left:35px;
  top:150px;

  font-family: "Comic Sans MS", cursive, sans-serif !important;
  font-size:50px !important;
  line-height: 80px;
  text-indent: 2em;
  text-align: left !important;
  word-break:break-all !important;

  display: block;

  border: 0px;
  box-shadow: none;

}
.container_backside .user_address{
  /*background-color: red;
  border: 1px solid red;*/
  width: 80px;
  height: 180px;

  position: absolute;
  right: 39px;
  top: 18px;
  /*font-family: "Comic Sans MS", cursive, sans-serif;*/
  font-family: "ComicSansMSRegular";
  font-size: 9px;
  line-height: 12px;
}
.div_container_backside .user_address{
  /*background-color: red;
  border: 1px solid red;*/
  width: 486px !important;
  height: 810px !important;
  

  position: absolute;
  right: 243px;
  top: 81px;
  /*font-family: "Comic Sans MS", cursive, sans-serif;*/
  font-family: "ComicSansMSRegular";
  font-size:48px !important;
  line-height: 54px;
}